<?xml version="1.0"?>
<robot name="mrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find mrobot_description)/urdf/base_robot.urdf.xacro" />
    <xacro:include filename="$(find mrobot_description)/urdf/camera.urdf.xacro" />
    <xacro:include filename="$(find mrobot_description)/urdf/rplidar.urdf.xacro" />

    <xacro:property name="camera_offset_x" value="0.9" />
    <xacro:property name="camera_offset_y" value="0" />
    <xacro:property name="camera_offset_z" value="0.02" />

    <!-- base robot -->
    <base_robot />

    <!-- camera -->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" 
            rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <xacro:usb_camera prefix="camera"/>

    <!-- lidar -->
    <joint name="lidar_joint" type="fixed">
        <origin xyz="0 0 0" 
            rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="lidar_link"/>
    </joint>

    <plidar />

    <!-- Dummy link -->
    <link name="dummy_link" />

    <!-- Fixed joint to attach the actual base link to the dummy link -->
    <joint name="fixed_base_to_dummy" type="fixed">
        <parent link="dummy_link"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>